/AppliOeuvres/AppliOeuvres-ejb/build/
/AppliOeuvres/AppliOeuvres-ejb/dist/
/AppliOeuvres/AppliOeuvres-ejb/nbproject/private/
/AppliOeuvres/AppliOeuvres-war/build/
/AppliOeuvres/AppliOeuvres-war/dist/
/AppliOeuvres/AppliOeuvres-war/nbproject/private/
/AppliOeuvres/build/
/AppliOeuvres/dist/
/AppliOeuvres/nbproject/private/